<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="手机新浪网,新浪首页,新闻资讯,新浪新闻,新浪无线">
		<meta name="description" content="手机新浪网是新浪网的手机门户网站，为亿万用户打造一个手机联通世界的超级平台，提供24小时全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资讯、实用信息等。手机新浪网触屏版 - sina.cn">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"><meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta name="format-detection" content="telephone=no">
		<meta name="referrer" content="always">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="author" content="sina_mobile">
		<script type="text/javascript">!function(w,d,m){function r(){var t=100,o=750,e=d.documentElement.clientWidth||w.innerWidth,n=m.max(m.min(e,480),320),h=50;320>=n&&(h=m.floor(n/o*t*.99)),n>320&&362>=n&&(h=m.floor(n/o*t*1)),n>362&&375>=n&&(h=m.floor(n/o*t*1)),n>375&&(h=m.floor(n/o*t*.97)),d.querySelector("html").style.fontSize=h+"px"};r();w.onresize=function(){r()}}(window,document,Math);</script>
		<link rel="shortcut icon" type="image/x-icon" href="https://mjs.sinaimg.cn/wap/module/base/img/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://mjs.sinaimg.cn/wap/online/public/images/addToHome/sina_114x114_v1.png">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://mjs.sinaimg.cn/wap/online/public/images/addToHome/sina_57X57_v1.png">
		<title>新浪网首页_手机新浪网</title>
		
	</head>
	<body>
		<main class="page_main j_vue_root">
			<!--回帖模块_s-->
			<section class="Card_Mb8">
				<section class="post_return_box">
					<h1 class="post_return_tit">
						<span class="post_return_tit_txt">回帖</span>
						<!-- <v-touch class="post_return_reply" tag="p" v-on:press="showReport">111111111</v-touch> -->
						<nav class="post_return_tit_nav">
							<a href="#" class="post_return_tit_tab" :class="{active: isHot}" @click="toogleHot">热门</a>
							<a href="#" class="post_return_tit_tab" :class="{active: !isHot}" @click="toogleTime">时间</a>
						</nav>
					</h1>
					<!-- <aside class="post_return_case">
						<div class="post_return_row">
							<div class="post_return_row_l">
								<figure class="post_return_row_img">
									<img class="img_width i_bg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" />
									<i class="ic_v_blue post_return_row_ic"></i>
								</figure>
							</div>
							<aside class="post_return_row_r">
								<div class="post_return_com sp">
									<a href="#" class="post_return_report">
										<i class="icon_police"></i>
										<span class="post_return_report_txt">举报</span>
									</a>
									<h2 class="post_return_com_tit">
										<span class="post_return_com_tit_id fot_orange">我就是我</span>
										<mark class="post_return_com_tit_sign">足球记者</mark>
									</h2>
									<address class="post_return_add">
										<span class="post_return_add_txt">湖南省长沙市</span>
										<time calss="post_return_add_t">昨天 07:48</time>
									</address>
									<p class="post_return_reply">
										嗯哼真的承包了这个节目的所有笑点
									</p>
									<nav class="post_return_fun">
										<a href="#" class="post_return_fun_link">
											<i class="ic_praise_reply post_return_fun_ic"></i>
											<span class="post_return_fun_txt">赞</span>
										</a>
										<a href="#" class="post_return_fun_link">
											<i class="ic_com_reply post_return_fun_ic"></i>
											<span class="post_return_fun_txt">回复</span>
										</a>
									</nav>
								</div>
							</aside>
						</div>
						
						<div class="post_return_row">
							<div class="post_return_row_l">
								<figure class="post_return_row_img author">
									<img class="img_width i_bg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" />
									<i class="ic_v_blue post_return_row_ic"></i>
								</figure>
							</div>
							<aside class="post_return_row_r">
								<div class="post_return_com">
									<a href="#" class="post_return_report">
										<i class="icon_police"></i>
										<span class="post_return_report_txt">举报</span>
									</a>
									<h2 class="post_return_com_tit">
										<span class="post_return_com_tit_id">我就是我</span>
										<mark class="post_return_com_tit_sign">足球记者</mark>
									</h2>
									<address class="post_return_add">
										<span class="post_return_add_txt">湖南省长沙市</span>
										<time calss="post_return_add_t">昨天 07:48</time>
									</address>
									<p class="post_return_reply">
										嗯哼真的承包了这个节目的所有笑点
										
									</p>
									<img class="post_return_img i_bg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" />
									<nav class="post_return_fun">
										<a href="#" class="post_return_fun_link">
											<i class="ic_praise_reply post_return_fun_ic"></i>
											<span class="post_return_fun_txt">赞</span>
										</a>
										<a href="#" class="post_return_fun_link">
											<i class="ic_com_reply post_return_fun_ic"></i>
											<span class="post_return_fun_txt">回复</span>
										</a>
									</nav>
								</div>
							</aside>
						</div>
						
						<div class="post_return_row">
							<div class="post_return_row_l">
								<figure class="post_return_row_img author mini">
									<img class="img_width i_bg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" />
									<i class="ic_v_blue post_return_row_ic"></i>
								</figure>
							</div>
							<aside class="post_return_row_r">
								<div class="post_return_com">
									<a href="#" class="post_return_report">
										<i class="icon_police"></i>
										<span class="post_return_report_txt">举报</span>
									</a>
									<h2 class="post_return_com_tit">
										<span class="post_return_com_tit_id">我就是我</span>
										<mark class="post_return_com_tit_sign">足球记者</mark>
									</h2>
									<address class="post_return_add">
										<span class="post_return_add_txt">湖南省长沙市</span>
										<time calss="post_return_add_t">昨天 07:48</time>
									</address>
									<p class="post_return_reply">
										嗯哼真的承包了这个节目的所有笑点
										
									</p>
									<nav class="post_return_fun">
										<a href="#" class="post_return_fun_link">
											<span class="post_return_fun_ic_an"><i class="ic_praise_reply post_return_fun_ic"></i></span>
											<span class="post_return_fun_txt">赞</span>
										</a>
										<a href="#" class="post_return_fun_link">
											<i class="ic_com_reply post_return_fun_ic"></i>
											<span class="post_return_fun_txt">回复</span>
										</a>
									</nav>
								</div>
							</aside>
						</div>
						<a href="#" class="post_return_more">查看全部6条评论...</a>
						<div class="post_return_row no_line">
							<div class="post_return_row_l">
								<figure class="post_return_row_img mini">
									<img class="img_width i_bg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" />
									<i class="ic_v_yellow post_return_row_ic"></i>
								</figure>
							</div>
							<aside class="post_return_row_r">
								<input class="post_return_row_ipt" type="text" placeholder="我的回复…" />
							</aside>
						</div>
						
						<div class="post_return_row no_line">
							<div class="post_return_row_l">
								<figure class="post_return_row_img mini my">
									<img class="img_width i_bg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" />
									<i class="ic_v_yellow post_return_row_ic"></i>
								</figure>
							</div>
							<aside class="post_return_row_r">
								<input class="post_return_row_ipt" type="text" placeholder="我的回复…" />
							</aside>
						</div>
						
					</aside> -->
					<cmnt-list :top-layer="topLayer" :sec-layer="secLayer" :user-info="userInfo" :agreed-list="agreedList" :config="config" @cmnt-do-praise="doPraise" @cmnt-do-reply="doReply" @cmnt-do-report="doReport" @cmnt-do-sec-loadmore="doSecLoadmore" @cmnt-do-top-loadmore="doTopLoadmore"  @cmnt-do-showall="doShowall" @cmnt-do-imgclick="doImgclick" ref="cmnt"></cmnt-list>
				</section>
			</section>
			<!--回帖模块_e-->
		</main>
	</body>
</html>